@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ücretsiz olarak kolay ve zevkli yoldan ingilizce kelime öğrenin">
    <meta name="keywords" content="ingilizce kelime,kelime öğrenme,öğrenme,ingilizce dil,kelime">
    <title>wordboxes.net | kelime öğrenmenin kolay yolu</title>

    @Styles.Render("~/Content/css")
</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" id="homeNavbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-cubes"></i><span> Wordboxes.net(BETA)</span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#portfolio">Nedir ?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Hakkımızda</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">İletişim</a>
                    </li>

                    <li class="dropdown">
                        <button style="padding-top: 13px; padding-bottom: 13px;margin-left: 5px;font-family: verdana;" aria-haspopup="true" class="dropdown-toggle btn btn-login" aria-expanded="false" role="button" data-toggle="dropdown"><i class="fa fa-sign-in"></i> Giriş Yap / Üye ol</button>
                        <ul id="login-dp" style="border-radius: 6px;" class="dropdown-menu">
                            <li id="loginWrapper">

                                <div class="row" id="LoginWrap">

                                    @Html.Partial("MenuTemplate/SignInPartial", new englishProject.Infrastructure.ViewModel.UserSignInVM())
                                    @Html.Partial("MenuTemplate/SignUpPartial", new englishProject.Infrastructure.ViewModel.UserSignUpVM())
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Hoşgeldin !</div>
                <div class="intro-heading">ÜCRETSİZ KELİME ÖĞRENMEK Mİ İSTİYORSUN ?</div>
                <a id="learnModalBtn" href="#" data-toggle="modal" data-target="#learnModal" class=" btn btn-primary btn-lg" style="font-size: 45px;border-radius: 32px;    border: 4px solid white;">BAŞLA</a>
            </div>
        </div>
    </header>
    <!-- Services Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nedir ?</h2>
                    <h3 class="section-subheading text-muted">İngilizce kelime ezberlemeyi kolay ve zevkli hale getiren bir sitedir.</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 text-center">

                    <img id="macbook" src="~/Content/images/macbook.png" />
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled" style="margin-top: 20px;font-size: 16px; line-height: 2.5em">
                        <li><i class="fa fa-arrow-right"></i><strong> SİTEMİZDE İNGİLİZCE KELİME ÖĞRENMEK TAMAMEN ÜCRETSİZDİR.</strong></li>
                        <li><i class="fa fa-arrow-right"></i> Sitemize üye olarak kolay bir şeklide ingilizce kelime ezberleyebilirsiniz.</li>
                        <li><i class="fa fa-arrow-right"></i> Kutu seçimi sayesinde istediğiniz kutudan başlayarak seviyeleri geçebilirsiniz.(bildiğiniz kelimeleri tekrar çalışmak zorunda kalmazsınız)</li>
                        <li><i class="fa fa-arrow-right"></i> Hatırlatma kartları sayesinde ezberlemiş olduğunuz kelimeleri bir daha unutmazsınız. </li>
                        <li><i class="fa fa-arrow-right"></i> Her seviye geçtiğinizde puanlar kazanarak esktra özellikler kazanabilirsiniz.</li>
                        <li><i class="fa fa-arrow-right"></i> Günlük puan hedefi sayesinde bir gün içerisinde ne kadar çalışmanız gerektiğini bilirsiniz.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hakkımızda</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="@Url.Content("~/Content/images/home/idea.png")" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015 Ekim</h4>
                                    <h4 class="subheading">www.wordboxes.net projesi ortaya çıktı.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        İngilizce kelime öğrenmeyi hatırlatma kartları kullanarak ve çeşitli oyunlarla daha zevkli hale getirmek için  geliştirmeye başladık. Aynı zamanda www.duolingo.com gibi sitelerin kelime ezberletirken eksik kaldığı noktaları sitemizde geliştirmeye çalışıyoruz.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="@Url.Content("~/Content/images/home/beta.png")" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016 Şubat</h4>
                                    <h4 class="subheading">Beta sürüm </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Yaklaşık olarak 4 aylık süren tasarım ve kodlama sonunda sitemizin beta sürümünü yayınlamayı başardık. Bu süre içerisinde  eksiklikleri ve hataları tesbit ederek yeni sürüme geçmeyi planlıyoruz.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="@Url.Content("~/Content/images/home/finish.png")" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Eylül 2016</h4>
                                    <h4 class="subheading">Sitenin tüm kullanıcılara açılması</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Zamanı gelince yazılacaktir.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">İLETİŞİM</h2>
                    <h3 class="section-subheading text-muted" style="color: white;">Bizimle iletişime geçmek için lüffen tüm alanları doldurunuz. </h3>
                </div>
            </div>
            @Html.Partial("Templates/ContactPartial")
        </div>
    </section>
    @Html.Partial("Templates/FooterPartial")
    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <!-- Plugin JavaScript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/agency")

    <div class="modal fade" id="learnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Başlarken</h4>
                </div>
                <div class="modal-body">

                    <div id="carousel-learn" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-learn" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-learn" data-slide-to="1"></li>
                            <li data-target="#carousel-learn" data-slide-to="2"></li>
                            <li data-target="#carousel-learn" data-slide-to="3"></li>
                            <li data-target="#carousel-learn" data-slide-to="4"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">

                                <img src="@Url.Content("~/Content/images/learnHome/01.jpg")" />
                            </div>
                            <div class="item">
                                <img src="@Url.Content("~/Content/images/learnHome/02.jpg")" />
                            </div>
                            <div class="item">
                                <img src="@Url.Content("~/Content/images/learnHome/03.jpg")" />
                            </div>
                            <div class="item">
                                <img src="@Url.Content("~/Content/images/learnHome/04.jpg")" />
                            </div>
                            <div class="item">
                                <img src="@Url.Content("~/Content/images/learnHome/05.jpg")" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <a href="#carousel-learn" role="button" data-slide="prev" class=" btn btn-primary">geri</a>
                    <a href="#carousel-learn" role="button" data-slide="next" class=" btn btn-primary">ileri</a>

                    <button style="display: none;" class="btn btn-success">Bitir</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            $("#btnContact").click(function () {

                if ($("#ContactFormum").valid()) {
                    alert("bir hata meydana geldi");
                }

            });
        });
    </script>
</body>
</html>