@using englishProject.Infrastructure
@using englishProject.Models
@using Newtonsoft.Json
@{
    ViewBag.Title = "levelExam";
    Level level = ViewBag.level;
    Level nextLevel = ViewBag.nextLevel;

}

<div id="examWrapper">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @Html.Partial("ModulPartial/HeaderPartial", level)

            <div class="panel" style="border-width: 0px;">
                <div id="SubLvelWrapper">
                    @Html.Partial("ModulPartial/ProgressPartial", level.levelSubLevel)

                    <div id="fail" data-bind="visible:!fail()">
                        <div class="row" data-bind="visible:!updateWrapper()">
                            <div class="col-md-12 text-center">
                                <h1 style="background-color: #F5F5F5;padding: 5px 30px;" class="img-thumbnail" data-bind="text:Questions.Question"></h1>
                                <h4 data-bind="text:questionText" class="text-muted"></h4>
                            </div>

                            @Html.Partial("ModulPartial/WarningPartial")

                            <div data-bind="visible:subLevelNumber()<3" class="col-md-12 text-center">

                                <div class="btnsWrapper form-inline" data-bind="foreach:Questions.QestionList">

                                    <button data-bind="click:$parent.nextQuestion,attr:{id:$data}" type="button" class="btn btn-lg btn-ques"><span data-bind="text:$data"></span></button>
                                </div>
                            </div>

                            <div data-bind="visible:subLevelNumber()>2" class="col-md-12 text-center" style="display: none">

                                <div class="btnsWrapper form-inline">

                                    <input id="txtEnglish" data-bind="textInput: textValue,valueUpdate: 'input', executeOnEnter: nextQuestion" class=" form-control input-lg" style="margin-top: 5px;" type="text">

                                    <button id="btnControl" data-bind="click:nextQuestion,disable:textValueCount()==0" class="btn btn-lg  btn-ques" type="button">Kontrol et</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    @Html.Partial("ModulPartial/SubLevelSuccess", nextLevel)
                    @Html.Partial("ModulPartial/FailPartial")
                    @Html.Partial("ModulPartial/EndPartial", nextLevel)
                </div>
            </div>
        </div>
    </div>
</div>