@using System.Activities.Statements
@using englishProject.Areas.Admin.Infrastructure
@using englishProject.Infrastructure
@using englishProject.Models

@model englishProject.Models.Level
@{
    ViewBag.Title = "AddLevel";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Seviye Ekle</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.kind, "kind", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kind", (List<SelectListItem>)ViewBag.list, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.levelNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("boxNumber", "Kutu seç:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("boxNumber", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.levelNumberAppear, "levelNumberAppear", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("levelNumberAppear", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.levelNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.levelName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.levelName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.levelName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.levelPicture, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.levelPicture, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.levelPicture, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.levelPuan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.levelPuan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.levelPuan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>