@model englishProject.Infrastructure.ViewModel.UserPasswordViewModel
<div id="UserPasswordWrapper">
    <h4 class="bg-primary">Şifreni değiştir</h4>
    <div class="panel-body">
        <form id="UserPasswordForm" class="form-horizontal">

            <div class="col-md-8">

                <div class="form-group">

                    @Html.LabelFor(x => x.CurrentPassword, "Güncel şifreniz:", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">

                        @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control", @placeHolder = "güncel şifreniz" })
                        @Html.ValidationMessageFor(x => x.CurrentPassword)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.NewPassword, "Yeni şifreniz:", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">

                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", @placeHolder = "yeni şifreniz" })
                        @Html.ValidationMessageFor(x => x.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.ConfirmPassowrd, "Yeni şifreniz tekrar", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">

                        @Html.PasswordFor(x => x.ConfirmPassowrd, new { @class = "form-control", @placeHolder = "yeni şifreniz" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassowrd)
                    </div>
                </div>

                <div class="col-sm-offset-4">

                    <button id="btnUserPasswordUpdate" class="btn btn-primary btn-lg" type="submit"><i class="fa fa-refresh fa-spin hidden"></i> Güncelle</button>
                </div>
            </div>
        </form>
    </div>
</div>