@{
    ViewBag.Title = "LevelExamStart";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}
@using englishProject.Infrastructure
@using englishProject.Models
@model Tuple<Level, levelUserProgress>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#mySubLevelSelect").modal();

        })
    </script>

}
@helper  subLevelButton(string btnName, bool lockk, bool disabled, int subLevel, bool success = false)
{

    <a class="btn btn-lg btn-block @(@disabled ? "disabled" : "") @(@success ? "btn-success" : "btn-primary") ">
        <div class="row">

            <div class="col-xs-8  text-left">

                @if (lockk)
                {
                <i class="fa fa-lock"></i>
                }
                @if (success)
                {
                <i class="fa fa-check"></i>
                }

                @if (lockk == false && success == false)
                {
                <i class="fa fa-arrow-right"></i>
                }

                @Enum.GetName(typeof(SubLevel), subLevel).ToString() Seviye
            </div>
            <div class="col-xs-3  text-left">
                <div style="background-color: white; color: #2c86b7;" class="label label-primary">@btnName</div>
            </div>
            <div class="col-xs-1 "><i class="fa fa-chevron-circle-right"></i></div>
        </div>
    </a>

}

<div class="modal fade" id="mySubLevelSelect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Alt seviye seç</h4>
            </div>
            <div class="modal-body">

                @if (Model.Item2 == null)
                {
                    for (int i = 1; i <= 3; i++)
                    {

                        if (i < 2)
                        {

                @subLevelButton("Başla", false, false, i)

                        }
                        else
                        {
                @subLevelButton("Kilitli", true, true, i)

                        }

                    }

                }
                else
                {

                    if (Model.Item2.star == 1)
                    {
                @subLevelButton("Çalış", false, false, 1, true)
                @subLevelButton("Başla", false, false, 2)
                @subLevelButton("Kilitli", true, true, 3)

                    }
                    else if (Model.Item2.star == 2)
                    {

                @subLevelButton("Çalış", false, false, 1, true)
                @subLevelButton("Çalış", false, false, 2, true)
                @subLevelButton("Başla", false, false, 3)

                    }
                    else
                    {
                @subLevelButton("Çalış", false, false, 1, true)
                @subLevelButton("Çalış", false, false, 2, true)
                @subLevelButton("Çalış", false, false, 3, true)

                    }

                }
            </div>
        </div>
    </div>
</div>