@using englishProject.Infrastructure
@using englishProject.Models
@{
    ViewBag.Title = "RemenderCard";

    int count = 0;
}
@model  Level
@section scripts
           {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#remederCardCarausel').on('slid.bs.carousel', function (a) {

                var index = $('#remederCardCarausel .active').index('#remederCardCarausel .item');

                $("#wordList a").removeClass("active");

                $("#wordList a:eq('" + index + "')").addClass("active");

            });
            $(".item:first").addClass("active");
            $("#wordList a:first").addClass("active");

        });
    </script>
    <style type="text/css">
        .list-group-item:first-child {
            border-top-right-radius: 0px;
        }

        .list-group-item:last-child {
            border-bottom-right-radius: 0px;
        }

        .item img {
            width: 600px;
            height: 320px;
            max-width: 600px;
            max-height: 320px;
        }
    </style>
}

@section Left
{
    @Html.Partial("Templates/UserProfileLeftPartial", (UserProfilView)ViewBag.userProfilView)
    @Html.Partial("Templates/ScoreLeftPartial", Operations.GetTotalLevelPuan(Model))

}

<div class="row">
    <div class="col-md-12">
        <div>
            <ol class="breadcrumb  examheader" style="margin-bottom: 0px;">
                <li class="active"><strong>@Model.Box.boxName </strong></li>
                <li class="active"><strong>@Model.levelName</strong> </li>
                <li class="active"><strong>Seviye(@Model.levelNumber)</strong> </li>
            </ol>
        </div>
        <div id="word" style=" background-color: #f5f5f5;border-bottom: 3px solid #e8e5e5;margin: 5px 0;padding: 8px;">

            <h3 style="margin: 0px;padding: 4px;" class="pull-left">Kelimeler <small class="text-muted">(@Model.Word.Count adet)</small></h3>

            <button data-locked="False" data-levelid="@Model.levelId" id="quizBtn" href="#" class="btn btn-success pull-right"><i class="fa fa-arrow-circle-right"></i> Teste giriş</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="panel" style="border-width: 0px;position: relative;">

    <div style="position: absolute; right: 15px; top: 15px;z-index: 10">

        <a href="#remederCardCarausel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#remederCardCarausel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="row">
        <div class="col-md-3  hidden-xs hidden-sm scroll" style="height: 367px; overflow: auto;padding-right: 0px;">

            <div id="wordList" class="list-group" style="margin-bottom: 0px;">
                @foreach (var item in Model.Word)
                {

                    <a class="list-group-item" data-target="#remederCardCarausel" href="#" data-slide-to="@(count++)">@item.wordTranslate</a>

                }
            </div>
        </div>
        <div class="col-md-9">

            <div id="remederCardCarausel" class="carousel slide" style="margin: 10px;">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    @foreach (Word item in Model.Word)
                    {

                        <div class="item">
                            <h3 style="margin-top: 0px;color: #286090;">@item.wordTurkish</h3>
                            <hr />
                            <img class=" img-rounded" src="@item.wordRemenderInfo" />
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Templates/modalPartial")