@using System.Web.Services.Description
@using englishProject.Infrastructure
@using englishProject.Infrastructure.ViewModel
@using Microsoft.AspNet.Identity
@{
    string actionName = Request.RequestContext.RouteData.Values["Action"].ToString();
}
<nav id="customNavbar" class="navbar navbar-default " role="navigation">
    <div class="container" style="position: relative;">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenu">
                <span class="sr-only">Toggle navigation</span>
                <i style="color: white;" class="fa fa-bars"></i>
            </button>
            <a style=" border-bottom: 3px solid white; height: 45px;margin-right: 10px;margin-left: 0px; " href="#" class="navbar-brand"><i class="fa fa-cubes"></i><span style="font-family: verdana;"> Kelime kutusu</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarMenu">

            <ul class="nav navbar-nav">

                <li class="@(actionName=="Index" ?"active" :"")">  <a href="@Url.Action("Index","User")"><strong>Anasayfa</strong></a></li>

                <li class="@(actionName=="ScoreTable" ?"active" :"")"><a href="@Url.Action("ScoreTable","User")">Puanlama</a></li>
                <li class="@(actionName=="Comments" ? "active" :"")"><a href="@Url.Action("Comments","User")">Yorumlar</a></li>

                @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>*@
            </ul>

            @Html.Partial("MenuTemplate/LogInPartial", User.Identity.GetUserName())
        </div><!-- /.navbar-collapse -->
        <!-- Brand and toggle get grouped for better mobile display -->
    </div><!-- /.container-fluid -->
</nav>